body{
  background-color: whitesmoke;
}
nav{
  background-color: darkgray;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 15px;
}
ul{
  list-style-type: none;
}
.nav-link{
  text-decoration: none;
}
.nav-item{
  display: inline;
}